<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body" *ngIf="!loggedin">
        <form  (submit)="signin($event)">
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="text" [(ngModel)]="email" name="email" class="form-control"  />
              
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" [(ngModel)]="pwd" name="pwd" class="form-control"  />
              
            </div>
            <div class="mb-3">
                
                <button type="button" class="btn btn-primary" type="submit">Submit</button>
               
            </div>
            
           
        </form>
    </div>
    <div class="card-body " >        
        <a  href="/register">Register new User</a>
    </div>

   
    <div class="card-body" *ngIf="loggedin">
        <h3> You are already logged in.</h3>
        <a href="/home" >Home</a>
    </div>
</div>