section{
    display:grid;
    grid-template-columns:  repeat(auto-fill, minmax(400px, 1fr));
    gap:1em;
    
    background-color:#eaeaea;
}

.info{
    padding:1em;

}
.header{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.header svg{
    justify-self: end;
    width:30px;
    height:30px;

}